.van__list-container {
  padding: 2rem;
  border-radius: 8px;
}

.van__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.van__tile {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.van__tile:hover {
  transform: translateY(-5px);
}

.van__tile a {
  color: #161616;
  text-decoration: none;
}

.van__tile img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.van__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.van__info p {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.van__type {
  padding: 0.45rem 0.75rem;
  font-style: normal;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  line-height: 2rem;
  color: #ffead0;
}

.Simple {
  background: #e17654;
}

.Rugged {
  background-color: #115e59;
}

.Luxury {
  background-color: #161616;
}
