.home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("../../assets/Images/home-hero.png") no-repeat center center;
  background-size: cover;
  padding: 5rem 1.5rem;
  min-height: 350px;
  background-color: #4d4d4d;
  text-align: center;
  color: white;
}

.home-content {
  max-width: 600px;
  margin: 0 auto;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.home p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.home a {
  display: inline-block;
  text-decoration: none;
  background-color: #ff8c38;
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
